<td background="[IMAGEDIR]/tab_left.gif" width="6">&nbsp;</td>
<td height=22 bgcolor="#0073CE" background="[IMAGEDIR]/tab_back.gif" valign="middle" align="left" nowrap><b><small style="color:#ffffff;font-size:9pt">&nbsp;<a href="[LINK]" style="color:#ffffff;text-decoration:none">[TITLE]</a>&nbsp;</td>
<td background="[IMAGEDIR]/tab_right.gif" width="10">&nbsp;</td>