<td background="[IMAGEDIR]/tab_left_s.gif" width="6">&nbsp;</td>
<td height=22 bgcolor="#0073CE" background="[IMAGEDIR]/tab_back_s.gif" valign="middle" align="left" nowrap><b><small style="color:#ffffff;font-size:9pt;font-style:italic">&nbsp;[TITLE]&nbsp;</td>
<td background="[IMAGEDIR]/tab_right_s.gif" width="10">&nbsp;</td>