.lowText { text-decoration: none; color: #000000; font: 10px Arial, Helvetica; text-align: left }
.highText { text-align: center; text-decoration: none; color: #FFFFFF; font: 10px Arial, Helvetica; text-align: left }

.itemBorder { border: 1px solid #666666 }
.itemBorderBlank { border: 1px solid #CCCCDD }

.buttonText { text-decoration: none; color: #FFCC99; font: Bold 12px Arial, Helvetica }
.buttonHover { text-decoration: none; color: #99CCFF; font: Bold 12px Arial, Helvetica; padding: 1px }
.buttonBorder { border: 1px outset #339966 }
.buttonBorderOver { border: 1px inset #CC9966 }